<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'CSS/sobre.css' %}" />

    <!-- Scripts Externos -->
    <script
      src="https://kit.fontawesome.com/973f56b433.js"
      crossorigin="anonymous"
    ></script>

    <!-- Icons -->
    <link
      rel="shortcut icon"
      href="/Imagens/icons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="/Imagens/icons/favicon-192x192.png"
      sizes="192x192"
    />
    <link rel="apple-touch-icon" href="/Imagens/icons/favicon-180x180.png" />

    <!-- JS -->
    <script defer src="{% static 'JS/menu.js' %}"></script>

    <!-- Título -->
    <title>Sobre nós - Instituto Ajuricaba</title>
  </head>
  <body>
    {% include "header.html" %}
    <main class="main"></main>
    {% include "footer.html" %}
  </body>
</html>
