@use '../Abstracts/' as *;

// Header
.header {
  background-color: $header-color;
  height: $header-altura;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: $header-shadow;
  z-index: 15;

  // Logo
  &__logo {
    margin: 0 50px;
    height: auto;
  }

  // Texto do lado do logo
  &__description {
    color: black;
    font-family: $header-description-font;
    font-size: 1.2rem;
  }

  // Navegação
  &__nav {
    display: flex;
    position: absolute;
    right: 20px;
    height: 100%;

    &__link {
      padding: 0 20px;
      list-style: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      a {
        color: black;
        text-decoration: none;
        font-family: $header-font;
        font-size: 1.1rem;
      }

      .icon {
        color: black;
        font-size: 1.1rem;
      }

      &--active {
        a {
          color: $primary-color;
        }
      }

      &--category {
        a {
          margin-right: 10px;
        }
      }
    }
  }

  // Dropdown
  &__dropdown {
    overflow: hidden;

    &:hover &__content {
      display: block;
    }

    &__content {
      position: absolute;
      display: none;
      z-index: 1;
    }

    &__links {
      list-style: none;
      height: 100%;
      background-color: $header-color;
      box-shadow: $header-dropdown-shadow;
      margin-top: 15px;

      &__link {
        border-bottom: 1px solid rgb(201, 201, 201);
        background-color: inherit;
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          background-color: $primary-color;
        }

        &:last-child {
          border-bottom: none;
        }

        &--category {
          .icon {
            transform: translateX(15px);
          }

          &:hover .dropdown__category {
            display: block;
          }
        }

        // Subcategoria
        &__container {
          height: auto;
          display: flex;
          position: absolute;
          top: 0;
          left: -160px;
          flex-direction: row-reverse;

          .dropdown__category {
            display: none;
            box-shadow: $container-shadow;

            .links {
              list-style: none;
              background-color: $header-color;

              .link {
                border-bottom: 1px solid rgb(201, 201, 201);
                background-color: inherit;
                display: flex;
                align-items: center;

                &:hover {
                  background-color: $primary-color;
                }

                &:last-child {
                  border-bottom: none;
                }
              }

              a {
                color: black;
                font-family: $header-dropdown-font;
                text-decoration: none;
                font-family: 1.1rem;
                text-align: center;
                margin: 24px 30px;
              }
            }
          }
        }
      }

      a {
        color: black;
        font-family: $header-dropdown-font;
        text-decoration: none;
        font-family: 1.1rem;
        width: 100;
        margin: 30px;
      }
    }
  }

  // Icone para abrir o menu
  &__menu__icon {
    display: none;
    visibility: hidden;
    z-index: 20;
  }

  // Tablet
  @include header__tablet {
    &__description {
      display: none;
      visibility: none;
    }
  }

  // Mobile
  @include header__mobile {
    justify-content: center;

    &__nav {
      display: none;
      visibility: none;
    }

    &__description {
      display: none;
      visibility: none;
    }

    &__menu__icon {
      display: block;
      visibility: visible;
      color: $primary-color;
      font-size: 3rem;
      position: absolute;
      right: 50px;
    }
  }

  // Mobile (mini)
  @include header__mobile--mini {
    &__nav {
      display: none;
      visibility: none;
    }

    &__description {
      display: none;
      visibility: none;
    }

    &__logo {
      width: 50vw;
    }

    &__menu__icon {
      display: block;
      visibility: visible;
      color: $primary-color;
      font-size: 3rem;
      position: absolute;
      right: 50px;
    }
  }
}
