@use '../Abstracts/' as *;

// Menu
.menu {
  background-color: $header-color;
  width: 100%;
  z-index: 15;
  position: absolute;
  display: none;
  visibility: hidden;

  &__links {
    // Links do Menu
    &__link {
      border-top: 1px solid #ddd;
      padding: 20px;
      display: flex;
      align-items: center;

      a {
        font-family: $main-font;
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
      }

      &--active {
        a {
          color: $primary-color;
        }
      }

      .icon {
        color: black;
        font-size: 1rem;
        margin: 0 10px;
      }
    }

    // Categorias do Menu
    .category--items {
      visibility: hidden;
      display: none;

      a {
        margin-left: 30px;
      }
    }

    // Sub-categorias das categorias
    .sub--category {
      visibility: hidden;
      display: none;

      a {
        margin-left: 60px;
      }
    }
  }
}

.mobile__wrapper {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu--open {
  @include header__mobile {
    visibility: visible;
    display: block;
  }

  @include header__mobile--mini {
    visibility: visible;
    display: block;
  }
}

.mobile__wrapper.menu--open {
  opacity: 80%;
}

.menu--open--header {
  box-shadow: none;
}

.category--open {
  display: block !important;
  visibility: visible !important;
}

.sub--category--open {
  display: block !important;
  visibility: visible !important;
}
