{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'CSS/expresidentes.css' %}" />

    <!-- Scripts externos -->
    <script
      src="https://kit.fontawesome.com/973f56b433.js"
      crossorigin="anonymous"
    ></script>

    <!-- JS -->
    <script defer src="{% static 'JS/menu.js' %}"></script>

    <!-- Icons -->
    <link
      rel="shortcut icon"
      href="/Imagens/icons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="/Imagens/icons/favicon-192x192.png"
      sizes="192x192"
    />
    <link rel="apple-touch-icon" href="/Imagens/icons/favicon-180x180.png" />

    <!-- Título -->
    <title>Ex-presidentes - Instituto Ajuricaba</title>
  </head>
  <body>
    {% include "header.html" %} {% include "menu-mobile.html" %}
    <main class="main">
      <div class="content">
        <div class="content__header">
          <h1>Ex-presidentes</h1>
        </div>
        <div class="content__containers">
          <section class="container">
            <img
              src="/Imagens/artur.jpg"
              alt="Artur Fonseca"
              class="container__image"
            />
            <div class="container__name">Artur Fonseca</div>
            <div class="container__habilidades">
              Tefeense, fundador do Instituto Ajuricaba e Formado pelo RenovaBR.
            </div>
            <div class="container__data">Presidiu fev/18 a mar/20</div>
          </section>
          <section class="container">
            <img
              src="/Imagens/paulo.jpg"
              alt="Paulo Alberto"
              class="container__image"
            />
            <div class="container__name">Paulo Alberto Carneiro</div>
            <div class="container__habilidades">
              Micro-Empresário, fundador do Instituto Ajuricaba.
            </div>
            <div class="container__data">Presidiu dez/17 a fev/18</div>
          </section>
          <section class="container">
            <img
              src="/Imagens/thais.jpeg"
              alt="Thais Nogueira"
              class="container__image"
            />
            <div class="container__name">Thais Nogueira</div>
            <div class="container__habilidades">
              Vice-Presidente do LOLA Brasil – Ladies of Liberty Alliance
            </div>
            <div class="container__data">Presidiu jul/17 a dez/17</div>
          </section>
          <section class="container">
            <img
              src="/Imagens/eric.jpg"
              alt="Eric Carro - 2ª Secretária"
              class="container__image"
            />
            <div class="container__name">Eric Carro</div>
            <div class="container__habilidades">
              Bacharel em Direito, membro há 5 anos, autor de vários projetos
              dentro na instituição.
            </div>
            <div class="container__data">Presidiu jan/17 a jul/17</div>
          </section>
          <section class="container">
            <img
              src="/Imagens/victor.jpg"
              alt="Victor Gonzales"
              class="container__image"
            />
            <div class="container__name">Victor Gonzales</div>
            <div class="container__habilidades">
              Vice-Coordenador da CDL Jovem Manaus, Empresário.
            </div>
            <div class="container__data">Presidiu jul/16 a jan/17</div>
          </section>
          <section class="container">
            <img
              src="/Imagens/luan.jpg"
              alt="Luan de Menezes"
              class="container__image"
            />
            <div class="container__name">Luan de Menezes</div>
            <div class="container__habilidades">Economista</div>
            <div class="container__data">
              Presidiu desde a fundação, out/14 a jul/16
            </div>
          </section>
        </div>
      </div>
    </main>
    {% include "footer.html" %}
  </body>
</html>
