$primary-color: #ff7213;
$secondary-color: black;

// Header
$header-color: white; 
$header-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$header-dropdown-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

// Main
$container-color: linear-gradient(360deg, #FF6F0E 44%, #FFAD00 100%);
$container-shadow: rgba(50, 50, 93, 0.25) 0px 2px 15px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

// Footer
$footer-color: rgb(7, 6, 6);