@use 'Abstracts' as *;
@use 'Components/header';
@use 'Components/menu';
@use 'Components/footer';

// Deixar body usar a tela inteira
html,
body {
  min-height: 100%;
  height: 100%;
}

// Main
.main {
  height: auto;
  overflow: hidden;
  background-color: white;
}

// Primeiro Bloco - Home
.main__home {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 1068px;
  min-width: 1663px;

  &__campanhas {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 50px;
    flex-direction: column;
    position: absolute;
    right: 150px;

    h2 {
      color: black;
      font-family: $main-header;
      font-size: 3rem;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    &__filter {
      width: 700px;
      height: 700px;
      background-color: black;
      opacity: 80%;
      overflow: hidden;

      &__imagem {
        width: 100%;
        height: 100%;
        background: white url("/Imagens/background1.jpeg") no-repeat;
        background-position: -240px bottom;
      }
    }
  }

  &__texto {
    z-index: 1;
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

    &__header {
      font-family: $main-header;
      font-size: 4rem;
      width: 800px;
      text-align: center;
      color: black;
      animation: main_header_text 0.5s forwards ease-out;
    }

    &__description {
      font-family: $main-font;
      font-size: 1.4rem;
      width: 700px;
      text-align: center;
      color: white;
      line-height: 2.3rem;
      margin: 30px 0;
      animation: main_header_text 0.5s forwards ease-out;
    }

    #inscreva {
      background-color: black;
      color: white;
      border: none;
      padding: 18px 38px;
      font-size: 1.3rem;
      margin-top: 15px;
      transition: 0.3s;
      font-family: $main-font;
      opacity: 0;
      animation: main_header_button 1s forwards ease-in-out;

      &:hover {
        background-color: orangered;
        color: black;
      }
    }
  }

  // Desktop - Um breakpoint qualquer
  @include breakpoint_aleatório_da_home {
    &__campanhas {
      width: 700px;
      right: 100px;

      &__filter {
        width: 600px;
        height: 600px;

        &__imagem {
          background-position: -290px center;
        }
      }
    }
  }

  // Desktop - Telas pequenas
  @include index__tela__pequena {
    min-width: 0;
    right: 0;
    width: 100% !important;

    &__texto {
      &__header {
        font-size: 3rem;
        max-width: 500px;
      }
      &__description {
        font-size: 1.2rem;
        max-width: 500px;
      }
    }

    &__campanhas {
      width: 600px;
      right: 100px;

      &__filter {
        width: 500px;
        height: 500px;

        &__imagem {
          background-position: -340px -200px;
        }
      }
    }
  }

  // Tablet
  @include index__tablet {
    height: auto;
    display: flex;

    &__texto {
      width: 100vw;

      &__header {
        font-size: 5rem;
        max-width: 100%;
      }
      &__description {
        font-size: 2rem;
        max-width: 100%;
        line-height: 1.5;
      }
    }

    &__campanhas {
      display: none;
    }
  }

  // Tablet (mini)
  @include index__tablet--mini {
    height: auto;
    &__campanhas {
      display: none;
      visibility: hidden;
    }

    &__texto {
      width: 100vw;

      &__header {
        width: 100%;
        font-size: 5rem;
        max-width: 100%;
      }

      &__description {
        width: 100%;
        font-size: 2rem;
        max-width: 100%;
        line-height: 1.7;
      }

      #inscreva {
        font-size: 2rem;
      }
    }
  }

  // Mobile
  @include index__mobile {
    min-width: 0;
    min-height: 0;
    height: auto;
    display: flex;
    background: black url("/Imagens/background3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;

    &__campanhas {
      display: none;
      visibility: hidden;
    }

    &__texto {
      width: 100%;
      padding: 50px 30px;
      height: auto;
      background: rgba(0, 0, 0, 0.5);

      &__header {
        font-size: 2.5rem;
        width: 80vw;
        margin: 30px 0;
        color: white;
      }

      &__description {
        display: none;
      }

      #inscreva {
        white-space: nowrap;
        background-color: $primary-color;
        margin: 0;
      }
    }
  }
}

// Segundo Bloco - Doação
.main__doe {
  background-color: black;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__header {
    color: white;
    font-family: $main-font;
    font-size: 2.5rem;
  }

  &__text {
    color: $primary-color;
    font-family: $main-font;
    font-size: 1.5rem;
    margin: 20px 0;
    max-width: 700px;
    line-height: 1.7;
    text-align: center;
  }

  &__button {
    background-color: $primary-color;
    color: black;
    border: none;
    padding: 18px 38px;
    font-size: 1.3rem;
    transition: 0.3s;
    font-family: $main-font;
    opacity: 0;

    &:hover {
      background-color: orangered;
      color: black;
    }
  }

  // Mobile
  @include index__mobile {
    background-color: $primary-color;
    padding: 70px 30px;

    &__header {
      max-width: 500px;
      text-align: center;
      color: black;
      font-size: 2.5rem;
    }

    &__text {
      margin: 30px 0;
      font-size: 1.5rem;
      color: white;
    }

    &__button {
      background-color: black;
      color: white;
    }
  }
}

// Bloco 3 - Informações sobre Ajuricaba
.main__infos {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__parceiros {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      color: black;
      font-family: $main-header;
      font-size: 2.5rem;
      margin: 20px 0;
    }

    &__imagens {
      .imagem {
        margin: 30px 50px;
      }
    }
  }

  &__projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    &__header {
      color: black;
      font-family: $main-header;
      font-size: 2.5rem;
      margin: 50px 0;
    }

    &__containers {
      display: flex;

      &__container {
        background: $container-color;
        box-shadow: $container-shadow;
        width: 360px;
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        align-items: center;

        hr {
          color: white;
          width: 50%;
          border: 1px solid rgba(255, 255, 255, 0.4);
          text-align: left;
          align-self: flex-start;
          margin: 30px 0;
        }

        &__header {
          font-family: $container-header;
          font-size: 50px;
          margin-bottom: 30px;
          align-self: flex-start;
        }

        &__text {
          font-family: $main-font;
          font-size: 1.3rem;
          line-height: 2.5rem;
        }

        &__button {
          background-color: black;
          color: white;
          border: none;
          padding: 18px 38px;
          font-size: 1.3rem;
          margin-top: 50px;
          transition: 0.3s;
          font-family: $main-font;

          &:hover {
            background-color: orange;
            color: black;
          }
        }
      }
    }
  }

  // Bloco 4 - Coisas extras
  &__extras {
    background-color: white;
    display: flex;
    max-width: 1260px;
    align-self: center;
    padding: 50px 0;

    &__container {
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-start;
      min-width: 400px;

      .icon {
        color: black;
        font-size: 4rem;
        margin-bottom: 30px;
        opacity: 0;
      }

      #youtube {
        color: red;
      }

      #pen {
        color: blue;
      }

      &__header {
        color: black;
        font-family: $main-header;
        font-size: 2.5rem;
        width: 300px;
        text-align: center;
      }

      &__text {
        color: black;
        font-family: $main-font;
        font-size: 1.5rem;
        width: 260px;
        margin: 50px 0;
      }

      &__button {
        background-color: black;
        color: white;
        border: none;
        padding: 18px 38px;
        font-size: 1.3rem;
        transition: 0.3s;
        font-family: $main-font;
        opacity: 0;

        &:hover {
          background-color: orange;
          color: black;
        }
      }
    }

    .empty-space {
      width: 450px;
    }
  }

  // Desktop - Telas pequenas
  @include index__tela__pequena {
    &__extras {
      .empty-space {
        width: 500px !important;
        padding: 0;
        min-width: 0;
      }
    }
  }

  // Tablet
  @include index__tablet {
    &__parceiros {
      &__imagens {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    &__projetos {
      &__containers {
        background: $primary-color;
        width: 100vw;

        &__container {
          margin: 0;
          box-shadow: none;
          background: $primary-color;
        }

        &__container:nth-child(2) {
          border-left: 1px solid white;
          border-right: 1px solid white;

          hr {
            width: 100%;
            margin: 0;
            justify-self: flex-start;
          }

          h2 {
            align-self: center;
            margin-top: 40px;
          }

          p {
            text-align: center;
            width: 300px;
          }

          flex-grow: 2;
        }
      }
    }

    &__extras {
      &__container {
        min-width: 0;
      }

      .empty-space {
        padding: 0;
        width: 20vw;
      }
    }
  }

  // Tablet (mini) {
  @include index__tablet--mini {
    padding: 30px;

    &__parceiros {
      &__imagens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &__projetos {
      &__containers {
        flex-direction: column;
        gap: 50px;

        &__container {
          width: 100%;
          margin: 0;

          hr {
            width: 100%;
          }

          &__header {
            align-self: center;
            margin: 50px 0;
          }

          &__text {
            font-size: 1.8rem;
            text-align: center;
            max-width: 500px;
            line-height: 1.8;
          }

          &__button {
            width: 30vw;
          }
        }
      }
    }

    &__extras {
      .empty-space {
        display: none;
      }
    }
  }

  // Mobile
  @include index__mobile {
    padding: 50px 0;
    margin-bottom: 0;
    padding-bottom: 0;

    &__parceiros {
      &__imagens {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      &__header {
        text-align: center;
        max-width: 300px;
      }
    }

    &__projetos {
      &__header {
        text-align: center;
      }

      &__containers {
        flex-direction: column;
        gap: 30px;
        width: 100%;

        &__container {
          width: 100%;
          margin: 0;
          padding: 50px 20px;
          box-shadow: none;
          background: $primary-color;

          hr {
            width: 50%;
          }

          &__header {
            align-self: center;
            margin: 10px 0;
            text-align: center;
            color: black;
          }

          &__text {
            font-size: 1.8rem;
            text-align: center;
            line-height: 1.8;
            margin: 30px 0;
            color: white;
          }

          &__button {
            margin: 10px;
          }
        }
      }
    }

    &__extras {
      flex-direction: column;

      &__container {
        &__text {
          text-align: center;
        }
      }

      .empty-space {
        display: none;
      }
    }
  }
}

#ajuricast-text {
  margin: 20px 0;
}

@keyframes main_header_text {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes main_header_button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
