@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Aktiv Grotesk";
  src: url("/static/Fonts/AktivGroteskCorp-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  height: 115px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 15;
}
.header__logo {
  margin: 0 50px;
  height: auto;
}
.header__description {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.header__nav {
  display: flex;
  position: absolute;
  right: 20px;
  height: 100%;
}
.header__nav__link {
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__nav__link a {
  color: black;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}
.header__nav__link .icon {
  color: black;
  font-size: 1.1rem;
}
.header__nav__link--active a {
  color: #ff7213;
}
.header__nav__link--category a {
  margin-right: 10px;
}
.header__dropdown {
  overflow: hidden;
}
.header__dropdown:hover .header__dropdown__content {
  display: block;
}
.header__dropdown__content {
  position: absolute;
  display: none;
  z-index: 1;
}
.header__dropdown__links {
  list-style: none;
  height: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-top: 15px;
}
.header__dropdown__links__link {
  border-bottom: 1px solid #c9c9c9;
  background-color: inherit;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.header__dropdown__links__link:hover {
  background-color: #ff7213;
}
.header__dropdown__links__link:last-child {
  border-bottom: none;
}
.header__dropdown__links__link--category .icon {
  transform: translateX(15px);
}
.header__dropdown__links__link--category:hover .dropdown__category {
  display: block;
}
.header__dropdown__links__link__container {
  height: auto;
  display: flex;
  position: absolute;
  top: 0;
  left: -160px;
  flex-direction: row-reverse;
}
.header__dropdown__links__link__container .dropdown__category {
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 15px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header__dropdown__links__link__container .dropdown__category .links {
  list-style: none;
  background-color: white;
}
.header__dropdown__links__link__container .dropdown__category .links .link {
  border-bottom: 1px solid #c9c9c9;
  background-color: inherit;
  display: flex;
  align-items: center;
}
.header__dropdown__links__link__container .dropdown__category .links .link:hover {
  background-color: #ff7213;
}
.header__dropdown__links__link__container .dropdown__category .links .link:last-child {
  border-bottom: none;
}
.header__dropdown__links__link__container .dropdown__category .links a {
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-family: 1.1rem;
  text-align: center;
  margin: 24px 30px;
}
.header__dropdown__links a {
  color: black;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-family: 1.1rem;
  width: 100;
  margin: 30px;
}
.header__menu__icon {
  display: none;
  visibility: hidden;
  z-index: 20;
}
@media (max-width: 1614px) and (min-width: 769px) {
  .header__description {
    display: none;
    visibility: none;
  }
}
@media (max-width: 1252px) and (min-width: 488px) {
  .header {
    justify-content: center;
  }
  .header__nav {
    display: none;
    visibility: none;
  }
  .header__description {
    display: none;
    visibility: none;
  }
  .header__menu__icon {
    display: block;
    visibility: visible;
    color: #ff7213;
    font-size: 3rem;
    position: absolute;
    right: 50px;
  }
}
@media (max-width: 488px) {
  .header__nav {
    display: none;
    visibility: none;
  }
  .header__description {
    display: none;
    visibility: none;
  }
  .header__logo {
    width: 50vw;
  }
  .header__menu__icon {
    display: block;
    visibility: visible;
    color: #ff7213;
    font-size: 3rem;
    position: absolute;
    right: 50px;
  }
}

.menu {
  background-color: white;
  width: 100%;
  z-index: 15;
  position: absolute;
  display: none;
  visibility: hidden;
}
.menu__links__link {
  border-top: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
}
.menu__links__link a {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.menu__links__link--active a {
  color: #ff7213;
}
.menu__links__link .icon {
  color: black;
  font-size: 1rem;
  margin: 0 10px;
}
.menu__links .category--items {
  visibility: hidden;
  display: none;
}
.menu__links .category--items a {
  margin-left: 30px;
}
.menu__links .sub--category {
  visibility: hidden;
  display: none;
}
.menu__links .sub--category a {
  margin-left: 60px;
}

.mobile__wrapper {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

@media (max-width: 1252px) and (min-width: 488px) {
  .menu--open {
    visibility: visible;
    display: block;
  }
}
@media (max-width: 488px) {
  .menu--open {
    visibility: visible;
    display: block;
  }
}

.mobile__wrapper.menu--open {
  opacity: 80%;
}

.menu--open--header {
  box-shadow: none;
}

.category--open {
  display: block !important;
  visibility: visible !important;
}

.sub--category--open {
  display: block !important;
  visibility: visible !important;
}

.footer {
  background-color: #070606;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
.footer__icons {
  display: flex;
  position: absolute;
  right: 50px;
}
.footer__icons .icon {
  color: white;
  font-size: 2.5rem;
  margin: 0 30px;
}
@media (max-width: 1061px) and (min-width: 787px) {
  .footer__icons .icon {
    margin: 0 15px;
    font-size: 2rem;
  }
}
@media (max-width: 787px) {
  .footer__icons {
    display: none;
    visibility: hidden;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.main {
  height: auto;
  overflow: hidden;
  background-color: white;
}

.main__home {
  width: 100vw;
  height: 100vh;
  background-color: #ff7213;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 1068px;
  min-width: 1663px;
}
.main__home__campanhas {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  padding: 50px;
  flex-direction: column;
  position: absolute;
  right: 150px;
}
.main__home__campanhas h2 {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 50px;
}
.main__home__campanhas__filter {
  width: 700px;
  height: 700px;
  background-color: black;
  opacity: 80%;
  overflow: hidden;
}
.main__home__campanhas__filter__imagem {
  width: 100%;
  height: 100%;
  background: white url("/Imagens/background1.jpeg") no-repeat;
  background-position: -240px bottom;
}
.main__home__texto {
  z-index: 1;
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.main__home__texto__header {
  font-family: "Nunito Sans", sans-serif;
  font-size: 4rem;
  width: 800px;
  text-align: center;
  color: black;
  animation: main_header_text 0.5s forwards ease-out;
}
.main__home__texto__description {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.4rem;
  width: 700px;
  text-align: center;
  color: white;
  line-height: 2.3rem;
  margin: 30px 0;
  animation: main_header_text 0.5s forwards ease-out;
}
.main__home__texto #inscreva {
  background-color: black;
  color: white;
  border: none;
  padding: 18px 38px;
  font-size: 1.3rem;
  margin-top: 15px;
  transition: 0.3s;
  font-family: "Aktiv Grotesk", sans-serif;
  opacity: 0;
  animation: main_header_button 1s forwards ease-in-out;
}
.main__home__texto #inscreva:hover {
  background-color: orangered;
  color: black;
}
@media (max-width: 1803px) and (min-width: 1590px) {
  .main__home__campanhas {
    width: 700px;
    right: 100px;
  }
  .main__home__campanhas__filter {
    width: 600px;
    height: 600px;
  }
  .main__home__campanhas__filter__imagem {
    background-position: -290px center;
  }
}
@media (max-width: 1590px) and (min-width: 1300px) {
  .main__home {
    min-width: 0;
    right: 0;
    width: 100% !important;
  }
  .main__home__texto__header {
    font-size: 3rem;
    max-width: 500px;
  }
  .main__home__texto__description {
    font-size: 1.2rem;
    max-width: 500px;
  }
  .main__home__campanhas {
    width: 600px;
    right: 100px;
  }
  .main__home__campanhas__filter {
    width: 500px;
    height: 500px;
  }
  .main__home__campanhas__filter__imagem {
    background-position: -340px -200px;
  }
}
@media (max-width: 1300px) and (min-width: 1030px) {
  .main__home {
    height: auto;
    display: flex;
  }
  .main__home__texto {
    width: 100vw;
  }
  .main__home__texto__header {
    font-size: 5rem;
    max-width: 100%;
  }
  .main__home__texto__description {
    font-size: 2rem;
    max-width: 100%;
    line-height: 1.5;
  }
  .main__home__campanhas {
    display: none;
  }
}
@media (max-width: 1030px) and (min-width: 768px) {
  .main__home {
    height: auto;
  }
  .main__home__campanhas {
    display: none;
    visibility: hidden;
  }
  .main__home__texto {
    width: 100vw;
  }
  .main__home__texto__header {
    width: 100%;
    font-size: 5rem;
    max-width: 100%;
  }
  .main__home__texto__description {
    width: 100%;
    font-size: 2rem;
    max-width: 100%;
    line-height: 1.7;
  }
  .main__home__texto #inscreva {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .main__home {
    min-width: 0;
    min-height: 0;
    height: auto;
    display: flex;
    background: black url("/Imagens/background3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
  }
  .main__home__campanhas {
    display: none;
    visibility: hidden;
  }
  .main__home__texto {
    width: 100%;
    padding: 50px 30px;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
  }
  .main__home__texto__header {
    font-size: 2.5rem;
    width: 80vw;
    margin: 30px 0;
    color: white;
  }
  .main__home__texto__description {
    display: none;
  }
  .main__home__texto #inscreva {
    white-space: nowrap;
    background-color: #ff7213;
    margin: 0;
  }
}

.main__doe {
  background-color: black;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main__doe__header {
  color: white;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 2.5rem;
}
.main__doe__text {
  color: #ff7213;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.5rem;
  margin: 20px 0;
  max-width: 700px;
  line-height: 1.7;
  text-align: center;
}
.main__doe__button {
  background-color: #ff7213;
  color: black;
  border: none;
  padding: 18px 38px;
  font-size: 1.3rem;
  transition: 0.3s;
  font-family: "Aktiv Grotesk", sans-serif;
  opacity: 0;
}
.main__doe__button:hover {
  background-color: orangered;
  color: black;
}
@media (max-width: 768px) {
  .main__doe {
    background-color: #ff7213;
    padding: 70px 30px;
  }
  .main__doe__header {
    max-width: 500px;
    text-align: center;
    color: black;
    font-size: 2.5rem;
  }
  .main__doe__text {
    margin: 30px 0;
    font-size: 1.5rem;
    color: white;
  }
  .main__doe__button {
    background-color: black;
    color: white;
  }
}

.main__infos {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.main__infos__parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__infos__parceiros__header {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  margin: 20px 0;
}
.main__infos__parceiros__imagens .imagem {
  margin: 30px 50px;
}
.main__infos__projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.main__infos__projetos__header {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  margin: 50px 0;
}
.main__infos__projetos__containers {
  display: flex;
}
.main__infos__projetos__containers__container {
  background: linear-gradient(360deg, #FF6F0E 44%, #FFAD00 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 15px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 360px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  align-items: center;
}
.main__infos__projetos__containers__container hr {
  color: white;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: left;
  align-self: flex-start;
  margin: 30px 0;
}
.main__infos__projetos__containers__container__header {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
  align-self: flex-start;
}
.main__infos__projetos__containers__container__text {
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.main__infos__projetos__containers__container__button {
  background-color: black;
  color: white;
  border: none;
  padding: 18px 38px;
  font-size: 1.3rem;
  margin-top: 50px;
  transition: 0.3s;
  font-family: "Aktiv Grotesk", sans-serif;
}
.main__infos__projetos__containers__container__button:hover {
  background-color: orange;
  color: black;
}
.main__infos__extras {
  background-color: white;
  display: flex;
  max-width: 1260px;
  align-self: center;
  padding: 50px 0;
}
.main__infos__extras__container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  min-width: 400px;
}
.main__infos__extras__container .icon {
  color: black;
  font-size: 4rem;
  margin-bottom: 30px;
  opacity: 0;
}
.main__infos__extras__container #youtube {
  color: red;
}
.main__infos__extras__container #pen {
  color: blue;
}
.main__infos__extras__container__header {
  color: black;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.5rem;
  width: 300px;
  text-align: center;
}
.main__infos__extras__container__text {
  color: black;
  font-family: "Aktiv Grotesk", sans-serif;
  font-size: 1.5rem;
  width: 260px;
  margin: 50px 0;
}
.main__infos__extras__container__button {
  background-color: black;
  color: white;
  border: none;
  padding: 18px 38px;
  font-size: 1.3rem;
  transition: 0.3s;
  font-family: "Aktiv Grotesk", sans-serif;
  opacity: 0;
}
.main__infos__extras__container__button:hover {
  background-color: orange;
  color: black;
}
.main__infos__extras .empty-space {
  width: 450px;
}
@media (max-width: 1590px) and (min-width: 1300px) {
  .main__infos__extras .empty-space {
    width: 500px !important;
    padding: 0;
    min-width: 0;
  }
}
@media (max-width: 1300px) and (min-width: 1030px) {
  .main__infos__parceiros__imagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .main__infos__projetos__containers {
    background: #ff7213;
    width: 100vw;
  }
  .main__infos__projetos__containers__container {
    margin: 0;
    box-shadow: none;
    background: #ff7213;
  }
  .main__infos__projetos__containers__container:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex-grow: 2;
  }
  .main__infos__projetos__containers__container:nth-child(2) hr {
    width: 100%;
    margin: 0;
    justify-self: flex-start;
  }
  .main__infos__projetos__containers__container:nth-child(2) h2 {
    align-self: center;
    margin-top: 40px;
  }
  .main__infos__projetos__containers__container:nth-child(2) p {
    text-align: center;
    width: 300px;
  }
  .main__infos__extras__container {
    min-width: 0;
  }
  .main__infos__extras .empty-space {
    padding: 0;
    width: 20vw;
  }
}
@media (max-width: 1030px) and (min-width: 768px) {
  .main__infos {
    padding: 30px;
  }
  .main__infos__parceiros__imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__infos__projetos__containers {
    flex-direction: column;
    gap: 50px;
  }
  .main__infos__projetos__containers__container {
    width: 100%;
    margin: 0;
  }
  .main__infos__projetos__containers__container hr {
    width: 100%;
  }
  .main__infos__projetos__containers__container__header {
    align-self: center;
    margin: 50px 0;
  }
  .main__infos__projetos__containers__container__text {
    font-size: 1.8rem;
    text-align: center;
    max-width: 500px;
    line-height: 1.8;
  }
  .main__infos__projetos__containers__container__button {
    width: 30vw;
  }
  .main__infos__extras .empty-space {
    display: none;
  }
}
@media (max-width: 768px) {
  .main__infos {
    padding: 50px 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .main__infos__parceiros__imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__infos__parceiros__header {
    text-align: center;
    max-width: 300px;
  }
  .main__infos__projetos__header {
    text-align: center;
  }
  .main__infos__projetos__containers {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .main__infos__projetos__containers__container {
    width: 100%;
    margin: 0;
    padding: 50px 20px;
    box-shadow: none;
    background: #ff7213;
  }
  .main__infos__projetos__containers__container hr {
    width: 50%;
  }
  .main__infos__projetos__containers__container__header {
    align-self: center;
    margin: 10px 0;
    text-align: center;
    color: black;
  }
  .main__infos__projetos__containers__container__text {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8;
    margin: 30px 0;
    color: white;
  }
  .main__infos__projetos__containers__container__button {
    margin: 10px;
  }
  .main__infos__extras {
    flex-direction: column;
  }
  .main__infos__extras__container__text {
    text-align: center;
  }
  .main__infos__extras .empty-space {
    display: none;
  }
}

#ajuricast-text {
  margin: 20px 0;
}

@keyframes main_header_text {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes main_header_button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=homepage.css.map */
