{% load static %}

<!-- Footer -->
<footer class="footer">
  <picture>
    <img src="/Imagens/logos/logo-footer.png" alt="Logo Ajuricaba" />
  </picture>

  <div class="footer__icons">
    <a href="https://www.facebook.com/institutoajuricaba/">
      <i class="fab fa-facebook-square icon"></i>
    </a>

    <a href="https://twitter.com/iajuricaba">
      <i class="fab fa-twitter icon"></i>
    </a>

    <a href="https://www.youtube.com/channel/UCqfHhxZ3ZE1wzhTNQ3_njXw">
      <i class="fab fa-youtube icon"></i>
    </a>
  </div>
</footer>
