<!-- Menu do Mobile -->
<nav class="menu">
  <div class="menu__content">
    <ul class="menu__links">
      <!-- Home -->
      <li class="menu__links__link menu__links__link--active">
        <a href="/">Home</a>
      </li>

      <!-- Categoria Institucional -->
      <li class="menu__links__link menu__links__link--category category--1">
        <a>Institucional</a>
        <i class="fas fa-caret-down icon"></i>
      </li>

      <div class="category--items category__items--1">
        <li class="menu__links__link"><a href="/about">Sobre</a></li>
        <li class="menu__links__link">
          <a href="/diretoria">Diretoria</a>
        </li>
        <li class="menu__links__link">
          <a href="/ex-presidentes">Ex-presidentes</a>
        </li>
      </div>

      <!-- Notícias -->
      <li class="menu__links__link"><a href="/noticias">Notícias</a></li>

      <!-- Textos -->
      <li class="menu__links__link"><a href="/textos">Textos</a></li>

      <!-- Categoria Multimídia -->
      <li class="menu__links__link menu__links__link--category category--2">
        <a>Multimídia</a>
        <i class="fas fa-caret-down icon"></i>
      </li>

      <div class="category--items category__items--2">
        <li class="menu__links__link">
          <a href="/ajuricast">Ajuricast</a>
        </li>
        <li
          class="menu__links__link menu__links__link--category subcategory--1"
        >
          <a>Ajuricaba TV</a>
          <i class="fas fa-caret-down icon"></i>
        </li>

        <div class="sub--category sub--category--items--1">
          <li class="menu__links__link">
            <a href="/ajuricaba-tv">Academia Ajuricaba</a>
          </li>
          <li class="menu__links__link">
            <a href="/paletras">Palestras</a>
          </li>
          <li class="menu__links__link">
            <a href="/minuto-ajuricaba">Minuto Ajuricaba</a>
          </li>
          <li class="menu__links__link">
            <a href="/entrevistas">Entrevistas</a>
          </li>
          <li class="menu__links__link"><a href="/actions">Ações</a></li>
        </div>
      </div>

      <!-- Categoria Eventos -->
      <li
        class="menu__links__link header__menu__links__link--category category--3"
      >
        <a>Eventos</a>
        <i class="fas fa-caret-down icon"></i>
      </li>

      <div class="category--items category__items--3">
        <li class="menu__links__link">
          <a href="/eventos-anteriores">Eventos Anteriores</a>
        </li>
        <li class="menu__links__link">
          <a href="/proximos-eventos">Próximos Eventos</a>
        </li>
      </div>
    </ul>
  </div>
</nav>

<div class="mobile__wrapper"></div>
